body {
  font-family: "Roboto", Arial, "Liberation Sans", "DejaVu Sans", sans-serif;
  font-size: 12px;
}

body.mobile,
body.mobile .message {
  font-size: 14px;
}

pre {
  font-family: "Roboto Mono", Consolas, Monaco, Ubuntu Mono, monospace;
}

table.env-table tbody tr td {
  border-top: none;
  line-height: 18px;
  vertical-align: top;
}

table.env-table,
table.env-table table {
  border-spacing: 0;
  border-collapse: collapse;
}

table.env-table td {
  padding-right: 5px;
}

tbody tr {
  width: 98%;
}

tbody tr td {
  border-top: 1px #e9e9e9 solid;
  line-height: 25px;
}

.message-row:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.message-row.selected {
  background-color: #dfdfdf;
}

th {
  text-align: left;
  padding-right: 10px;
  color: #222;
  padding-bottom: 8px;
}

td.time {
  color: #999;
  vertical-align: top;
  font-size: 12px;
}

td.severity {
  text-align: center;
}

.message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
  font-size: 13px;
}

th.count {
  width: 20px;
}

th.severity {
  width: 15px;
}

th.time {
  width: 85px;
  text-align: right;
  padding-right: 20px;
}

td.time {
  text-align: right;
  padding-right: 8px;
}

th.protected {
  width: 10px;
}

i.fatal {
  color: #e00;
}

i.error {
  color: #900;
}

i.warning {
  color: #feb800;
}

.debug {
  color: #777;
}

td.count {
  text-align: right;
  padding-right: 4px;
}

.count span {
  font-size: 11px;
  font-weight: bold;
}

.action-panel .search {
  border: 1px solid #ddd;
  padding: 3px;
  vertical-align: middle;
  box-sizing: border-box;
}

tr.show-more {
  text-align: center;
  height: 30px;
  text-decoration: none;
  background-color: #ddd;
  cursor: pointer;
}

#bottom-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  background-color: #f1f1f1;
  padding: 8px;
  padding-top: 0;
  z-index: 2;
}

#bottom-panel.full {
  position: static;
  background-color: inherit;
  height: 90%;
}

#bottom-panel.full > div {
  padding-bottom: 40px;
}
#bottom-panel.full .tabs {
  display: none;
}

#bottom-panel.full .message-info {
  position: static;
}

#bottom-panel.full .message-info .content {
  display: block;
  position: static;
}

#bottom-panel.full .save,
#bottom-panel.full .share {
  bottom: 10px;
}

#bottom-panel.full button.delete {
  display: none;
}

#bottom-panel.full .message-actions button {
  margin-top: 8px;
}

#bottom-panel.full .message-actions {
  position: fixed;
  height: 40px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #eee;
  border-top: 1px solid #dfdfdf;
  padding-left: 10px;
}

.message-actions {
  position: absolute;
  bottom: 5px;
  right: 0;
  margin-right: 10px;
}

.message-actions button {
  margin-left: 5px;
}

.divider {
  position: fixed;
  bottom: 310px;
  left: 0;
  right: 0;
  height: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
  cursor: row-resize;
}

.divider div {
  margin: auto;
  width: 24px;
  height: 1px;
  background-color: #ccc;
  position: relative;
}

.divider .line-1 {
  top: 5px;
}

.divider .line-2 {
  top: 6px;
}

.divider .line-3 {
  top: 7px;
}

#top-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 320px;
  overflow: auto;
}

.message-info {
  position: absolute;
  border-bottom: 1px solid #ddd;
  top: 0;
  left: 0;
  right: 0;
}

.action-panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: bold;
}

.action-panel input {
  margin: 0;
}

.action-panel i.fa,
input,
label span {
  vertical-align: middle;
}

.severity-filters label {
  margin-right: 18px;
}

.action-panel .clear {
  float: right;
  vertical-align: middle;
}

#log-table {
  border-collapse: collapse;
  margin: auto;
  width: 99%;
  table-layout: fixed;
}

.btn .fa,
.btn span {
  vertical-align: middle;
}

.hidden {
  display: none;
}

.message-info pre,
.message-info .env-table {
  position: relative;
  margin: 10px;
}

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: row-resize;
  opacity: 0;
}

.message-info .content {
  position: absolute;
  top: 0;
  bottom: 35px;
  left: 0;
  right: 0;
  overflow: auto;
  display: none;
}

.message-info .content.active {
  display: block;
}

.tabs {
  position: absolute;
  bottom: 13px;
  left: 0;
  right: 0;
  list-style-type: none;
  border-top: 1px solid #ddd;
  margin: 0 0 5px;
  padding: 0 0 0 10px;
}
.tabs li {
  float: left;
  position: relative;
  padding-right: 5px;
  margin: 0;
}
.tabs a {
  position: relative;
  top: 6px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 6px;
  background-color: #e1e1e1;
}

.tabs a.active {
  border-top: 1px solid #f1f1f1;
  background-color: #f1f1f1;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 5px 12px;
  font-weight: 500;
  font-size: 1em;
  line-height: 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s;
  background-color: #ddd;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: normal;
}

.btn:hover {
  color: #000;
  background-color: #ccc;
}

.btn .fa {
  margin-right: 7px;
}

.btn:active {
  text-shadow: none;
}

.btn.danger:hover {
  background-color: #c63c1b;
  color: #eee;
}

.search-clear-all .search,
.search-clear-all .clear {
  height: 24px;
}

.severity-filters label,
.search-clear-all .search,
.search-clear-all .clear {
  align-self: center;
}

.search-clear-all .clear {
  margin-left: auto;
}

@media (min-width: 701px) {
  .severity-filters,
  .search-clear-all {
    height: 100%;
  }
  .severity-filters,
  .search-clear-all,
  .more-wrapping {
    display: flex;
  }
  .severity-filters {
    float: left;
  }
  .action-panel {
    padding: 10px;
    box-sizing: border-box;
    height: 42px;
  }
  .message-info {
    bottom: 42px;
  }
}

@media (max-width: 700px) {
  .severity-filters {
    padding: 10px;
  }
  .search-clear-all {
    padding: 10px;
    padding-top: 0;
  }
  .action-panel {
    height: 69px;
  }
  .message-info {
    bottom: 69px;
  }
}

@media (max-width: 415px) {
  .severity-filters {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .more-wrapping:before,
  .more-wrapping:after {
    content: "";
    position: absolute;
    height: 18px;
  }
  .more-wrapping:before {
    width: 15px;
    margin-left: -10px;
    background: linear-gradient(to right, #f1f1f1 0%, rgba(241, 241, 241, 0.001) 100%);
  }
  .more-wrapping:after {
    right: 0;
    width: 23px;
    background: linear-gradient(to left, #f1f1f1 0%, rgba(241, 241, 241, 0.001) 100%);
  }
}

.btn.no-text .fa {
  margin: 0;
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.actions-menu {
  position: absolute;
  background: #fafafa;
  display: inline-flex;
  flex-direction: column;
  bottom: 27px;
  right: 45px;
  width: 115px;
  padding: 5px;
  padding-bottom: 0px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
}

.actions-menu button {
  margin: 0 0 5px 0;
  height: 27px;
}

.nav-controls {
  margin: 10px 10px;
}

.env-number {
  margin: 0 7px;
}
