body {
  font-family: Arial, "Liberation Sans", "DejaVu Sans", sans-serif;
  font-size: 12px;
}

body.mobile,
body.mobile .message {
  font-size: 14px;
}

pre {
  font-family: "Roboto Mono", Consolas, Monaco, Ubuntu Mono, monospace;
}

table.env-table tbody tr td {
  border-top: none;
  line-height: 18px;
  height: 18px;
  vertical-align: top;
}

table.env-table,
table.env-table table {
  border-spacing: 0;
  border-collapse: collapse;
}

table.env-table td {
  padding-right: 5px;
}

tbody tr {
  width: 98%;
}

.message-row {
  font-family: "Roboto";
  display: flex;
}

.message-row .severity,
.message-row .protected {
  text-align: center;
  width: 25px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 12px;
}

.message-row div {
  border-top: 0.5px #e9e9e9 solid;
  padding-top: 1px;
  padding-bottom: 1px;
  line-height: 25px;
}

.message-row .count {
  width: 30px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 4px;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: 700;
}

.message-row .message-body {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 13px;
}

.message-row .time {
  flex-grow: 0;
  flex-shrink: 0;
  color: #999;
  vertical-align: top;
  font-size: 12px;
  padding-right: 8px;
}

.message-row .count {
  text-align: right;
}

.message-row:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.message-row.selected {
  background-color: #dfdfdf;
}

.svg-inline--fa.fatal {
  color: #e00;
}

.svg-inline--fa.error {
  color: #900;
}

.svg-inline--fa.warning {
  color: #feb800;
}

.debug {
  color: #777;
}

.action-panel .search {
  border: 1px solid #ddd;
  padding: 3px;
  vertical-align: middle;
  box-sizing: border-box;
}

#log-table .show-more {
  text-align: center;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  background-color: #ddd;
  cursor: pointer;
  margin-top: 8px;
}

#bottom-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 300px;
  background-color: #f1f1f1;
  padding: 8px;
  padding-top: 0;
  z-index: 2;
}

#bottom-panel.full {
  position: static;
  background-color: inherit;
  height: 90%;
}

#bottom-panel.full > div {
  padding-bottom: 40px;
}
#bottom-panel.full .tabs {
  display: none;
}

#bottom-panel.full .message-info {
  position: static;
}

#bottom-panel.full .message-info .content {
  display: block;
  position: static;
}

#bottom-panel.full .save,
#bottom-panel.full .share {
  bottom: 10px;
}

#bottom-panel.full button.delete {
  display: none;
}

#bottom-panel.full .message-actions button {
  margin-top: 8px;
}

@media (max-width: 382px) {
  #bottom-panel.full .message-actions {
    height: 73px;
  }
}

@media (min-width: 383px) {
  #bottom-panel.full .message-actions {
    height: 40px;
  }
}

#bottom-panel.full .message-actions {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #eee;
  border-top: 1px solid #dfdfdf;
  padding-left: 10px;
}

.message-actions {
  position: absolute;
  bottom: 5px;
  right: 0;
  margin-right: 10px;
}

.message-actions button {
  margin-left: 5px;
}

.divider {
  position: fixed;
  bottom: 310px;
  left: 0;
  right: 0;
  height: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
  cursor: row-resize;
}

.divider div {
  margin: auto;
  width: 24px;
  height: 1px;
  background-color: #ccc;
  position: relative;
}

.divider .line-1 {
  top: 5px;
}

.divider .line-2 {
  top: 6px;
}

.divider .line-3 {
  top: 7px;
}

#top-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 320px;
  overflow: auto;
}

.message-info {
  position: absolute;
  border-bottom: 1px solid #ddd;
  top: 0;
  left: 0;
  right: 0;
}

#bottom-panel.group-view .message-info {
  top: 43px;
}

.nav-controls.group-nav {
  position: absolute;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
}

.action-panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: bold;
}

.action-panel input {
  margin: 0;
}

.action-panel .svg-inline--fa,
input,
label span {
  vertical-align: middle;
}

.severity-filters label {
  margin-right: 18px;
}

.search-clear-all .clear {
  float: right;
  vertical-align: middle;
}

#log-table {
  margin: auto;
  width: 99%;
}

.btn span {
  display: inline;
}

.hidden {
  display: none;
}

.message-info pre,
.message-info .env-table {
  position: relative;
  margin: 10px;
  margin-top: 5px;
}

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: row-resize;
  opacity: 0;
}

.message-info .content {
  position: absolute;
  top: 0;
  bottom: 35px;
  left: 0;
  right: 0;
  overflow: auto;
  display: none;
}

.message-info .content.active {
  display: block;
}

.tabs {
  position: absolute;
  bottom: 13px;
  left: 0;
  right: 0;
  list-style-type: none;
  border-top: 1px solid #ddd;
  margin: 0 0 5px;
  padding: 0 0 0 10px;
}
.tabs li {
  float: left;
  position: relative;
  padding-right: 5px;
  margin: 0;
}
.tabs a {
  position: relative;
  top: 6px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 6px;
  background-color: #e1e1e1;
}

.tabs a.active {
  border-top: 1px solid #f1f1f1;
  background-color: #f1f1f1;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 5px 12px;
  font-weight: 500;
  font-size: 1em;
  line-height: 0;
  text-align: center;
  cursor: pointer;
  transition: all 0.25s;
  background-color: #ddd;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: normal;
}

.btn:hover {
  color: #000;
  background-color: #ccc;
}

.btn .svg-inline--fa {
  margin-right: 7px;
}

.btn:active {
  text-shadow: none;
}

.btn.danger:hover {
  background-color: #c63c1b;
  color: #eee;
}

.btn.ok {
  background-color: #3781dc;
  color: white;
}

.btn.ok:hover {
  background-color: #286dc2;
  color: white;
}

.search-clear-all .search,
.search-clear-all .btn.clear {
  height: 100%;
}

.search-clear-all .btn.clear span {
  vertical-align: middle;
}

.severity-filters label,
.search-clear-all .search,
.search-clear-all .btn.clear {
  align-self: center;
}

.search-clear-all .footer-btns .settings {
  height: 100%;
  box-sizing: border-box;
  margin: 0 7px 0 7px;
  display: inline-flex;
  align-items: center;
}

.search-clear-all {
  display: flex;
  justify-content: space-between;
}

.search-clear-all .search {
  min-width: 0;
  flex-shrink: 2;
}

.footer-btns {
  flex-grow: 0;
  flex-shrink: 0;
}

@media (min-width: 771px) {
  .severity-filters,
  .search-clear-all {
    height: 100%;
  }
  .severity-filters,
  .more-wrapping {
    display: flex;
  }
  .severity-filters {
    float: left;
  }
  .action-panel {
    padding: 10px;
    box-sizing: border-box;
    height: 45px;
  }
  .message-info {
    bottom: 45px;
  }
}

@media (max-width: 770px) {
  .severity-filters {
    padding: 10px;
  }
  .search-clear-all {
    padding: 10px;
    padding-top: 0;
  }
  .action-panel {
    height: 69px;
  }
  .message-info {
    bottom: 69px;
  }
}

@media (max-width: 430px) {
  .severity-filters {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .more-wrapping:before,
  .more-wrapping:after {
    content: "";
    position: absolute;
    height: 18px;
  }
  .more-wrapping:before {
    width: 15px;
    margin-left: -10px;
    background: linear-gradient(
      to right,
      #f1f1f1 0%,
      rgba(241, 241, 241, 0.001) 100%
    );
  }
  .more-wrapping:after {
    right: 0;
    width: 23px;
    background: linear-gradient(
      to left,
      #f1f1f1 0%,
      rgba(241, 241, 241, 0.001) 100%
    );
  }
}

.btn.no-text .svg-inline--fa {
  margin: 0;
}

.btn[disabled] {
  opacity: 0.5;
}

.actions-menu {
  position: absolute;
  background: #fafafa;
  display: inline-flex;
  flex-direction: column;
  bottom: 27px;
  right: 45px;
  width: 115px;
  padding: 5px;
  padding-bottom: 0px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);
  z-index: 3;
}

.actions-menu button {
  margin: 0 0 5px 0;
  height: 27px;
}

.nav-controls {
  padding: 10px;
}

#bottom-panel:not(.full) .nav-controls.env-nav {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 0;
  background: #f1f1f1;
  z-index: 1;
  border-bottom: 1px solid #ddd;
}

.current-number {
  margin: 0 7px;
}

.expand-list {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.settings-page {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
  font-size: 15px;
  padding: 0 10px;
  padding-bottom: 70px;
}

.settings-header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.settings-header .header-title {
  flex-grow: 1;
}

.settings-header .header-logo {
  width: 50px;
  height: 50px;
}

.settings-section {
  padding-top: 15px;
}

.settings-section .section-title {
  margin-top: 0;
}

.settings-section .subsection-title {
  margin-bottom: 10px;
}

.settings-section .tip {
  font-style: italic;
  font-size: 13px;
  color: grey;
}

.settings-section .pattern-wrapper {
  margin-top: 10px;
  font-size: 16px;
  display: flex;
  height: 33px;
}

.settings-section .api-error {
  font-family: Consolas, "Roboto Mono", Monaco, Ubuntu Mono, monospace;
  margin-top: 5px;
  color: red;
}

.pattern-wrapper .pattern-input {
  font-family: Consolas, "Roboto Mono", Monaco, Ubuntu Mono, monospace;
  width: 600px;
  font-size: inherit;
  padding: 5px 0 5px 0;
  height: 100%;
  box-sizing: border-box;
  vertical-align: middle;
  flex-grow: 1;
  flex-shrink: 1;
}

.retro-checkbox .checkbox {
  margin: 0;
}

.retro-checkbox {
  margin-top: 7px;
}

.btn.new-pattern {
  height: 100%;
  line-height: 18px;
}

.pattern-wrapper .shrink {
  height: 100%;
  width: 40px;
  text-align: center;
  box-sizing: border-box;
  vertical-align: middle;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 10px;
}

.svg-inline--fa {
  opacity: 0.7;
}

.pattern-wrapper .shrink.reset {
  background: unset;
  width: unset;
  padding: 0;
  margin-left: 8px;
}

.grouping-patterns button.new-pattern {
  margin-top: 10px;
}

.backtrace-line .line-link {
  color: #9e9e9e;
  margin-left: 3px;
}
