<td class="count">
{{#if model.showCount}}
<span>{{model.count}}</span>
{{/if}}
</td>
<td class="severity">{{{model.glyph}}}</td>
<td class="message-body">
  <div class="message">
    {{model.displayMessage}}
  </div>
</td>
<td class='protected'>
  {{#if model.protected}}
    <i title="message is protected, clearing will not remove it" class='fa fa-lock'></i>
  {{/if}}
</td>
<td class="time">{{time-formatter timestamp=model.timestamp}}</td>
