<div class="message-info">
  {{#tabbed-section}}
    {{#tab-contents name="info" hint="show info" currentMessage=currentMessage}}
      {{#if showTitle}}
      <h3>Message
        {{#if currentMessage.showCount}}
          ({{currentMessage.count}} copies reported)
        {{/if}}
      </h3>
      {{/if}}
      <pre>{{currentMessage.message}}</pre>
    {{/tab-contents}}
    {{#tab-contents name="backtrace" defaultTab="true" hint="show backtrace" currentMessage=currentMessage}}
      {{#if showTitle}}
      <h3>Backtrace</h3>
      {{/if}}
        <pre>{{currentMessage.backtrace}}</pre>
    {{/tab-contents}}
    {{#if currentMessage.env}}
      {{#tab-contents name="env" hint="show environment" currentMessage=currentMessage}}
          {{#if showTitle}}
          <h3>Env</h3>
          {{/if}}
          <pre>{{currentMessage.envDebug}}</pre>
      {{/tab-contents}}
    {{/if}}
  {{/tabbed-section}}
</div>
