<table>
  <thead>
    <tr>
      <th>Severity</th>
      <th>Info</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
  {{#each model}}
    <tr class="{{unbound rowClass}}">
      <td class="severity">{{{glyph}}}</td>
      <td class="message">{{message}}</td>
      <td class="time">{{timeAgo timestamp}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
