<td class="severity">{{{glyph}}}
{{#if showCount}}
<span class='count'>{{count}}</span>
{{/if}}
</td>
<td class="message-body">
  <div class="message">
    {{displayMessage}}
  </div>
</td>
<td class="time">{{timeAgo timestamp}}</td>
