<td class="severity">{{{glyph}}}</td>
<td class="quantity">{{showCount}}</td>
<td class="message-body">
  <div class="message">
    {{displayMessage}}
  </div>
</td>
<td class="time">{{timeAgo timestamp}}</td>
