body {
  font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
  font-size: 12px;
}


tbody tr {
  width: 98%;
}

tbody tr td {
  border-top: 1px #ddd solid;
  line-height: 25px;
}

.message-row:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.message-row.selected {
  background-color: #dfdfdf;
}

th {
  text-align:left;
  padding-right: 10px;
  font-size: 12px;
  color: #222;
  padding-bottom: 8px;
}

td.time {
  font-size: 12px;
  color: #999;
  vertical-align: top;
}
.message {
  font-family: Consolas, mono;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}

th.severity{
  width: 30px;
}

th.time{
  width: 90px;
}

.fatal{
  color: #E00;
}

.error {
  color: #9F6000;
}

.warn{
  color: #66000C;
}

.debug{
  color: #777;
}



tr.show-more {
  text-align: center;
  height: 30px;
  text-decoration: none;
  background-color: #ddd;
  cursor: pointer;
  font-size: 12px;
}



#bottom-panel{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 300px;
  width: 100%;
  background-color: #F1F1F1;
  padding: 8px;
  font-size: 12px;
}

#divider {
  position: fixed;
  bottom: 310px;
  left: 0;
  right: 0;
  height: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
  cursor: row-resize;
  z-index: 1;
}

#divider div {
  margin: auto;
  width: 24px;
  height: 1px;
  background-color: #ccc;
  position: relative;
}

#divider .line-1 {
  top: 3px;
}

#divider .line-2 {
  top: 4px;
}

#divider .line-3 {
  top: 5px;
}

#top-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 320px;
  overflow: auto;
}

.message-info {
  position: absolute;
  border-bottom: 1px solid #DDD;
  bottom: 35px;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.action-panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  font-weight: bold;
}
.action-panel input {
  position: relative;
  top: 2px;
  margin-left: 20px;
}

#log-table {
  border-collapse:collapse;
  margin: auto;
  width: 99%;
  table-layout: fixed;
}


.hidden {
  display: none;
}

.message-info pre {
  position: relative;
  margin: 10px;
}

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: row-resize;
  opacity: 0;
}
