body {
  font-family: 'Roboto', Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
  font-size: 12px;
}

pre {
   font-family: 'Roboto Mono', Consolas, Monaco, Ubuntu Mono, monospace;
}

table.env-table tbody tr td {
  border-top: none;
  line-height: 18px;
  vertical-align: top;
}

table.env-table, table.env-table table {
  border-spacing: 0;
  border-collapse: collapse;
}

table.env-table td {
  padding-right: 5px;
}

tbody tr {
  width: 98%;
}

tbody tr td {
  border-top: 1px #e9e9e9 solid;
  line-height: 25px;
}

.message-row:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.message-row.selected {
  background-color: #dfdfdf;
}

th {
  text-align:left;
  padding-right: 10px;
  font-size: 12px;
  color: #222;
  padding-bottom: 8px;
}

td.time {
  font-size: 12px;
  color: #999;
  vertical-align: top;
}
.message {
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 10px;
}

th.count {
  width: 20px;
}

th.severity{
  width: 15px;
}

th.time{
  width: 90px;
  text-align: right;
  padding-right: 20px;
}

td.time{
  text-align: right;
  padding-right: 8px;
}

th.protected {
  width: 10px;
}

i.fatal {
  color: #E00;
}

i.error {
  color: #900;
}

i.warning {
  color: #FEB800;
}

.debug {
  color: #777;
}

td.count {
  text-align: right;
  padding-right: 4px;
}

.count span {
  font-size: 11px;
  font-weight: bold;
}

.action-panel .search input {
  border: 1px solid #DDD;
  padding: 3px;
  vertical-align: middle;
}

.regex input {
  margin-left: 2px !important;
}

tr.show-more {
  text-align: center;
  height: 30px;
  text-decoration: none;
  background-color: #ddd;
  cursor: pointer;
  font-size: 12px;
}

#bottom-panel{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 300px;
  width: 100%;
  background-color: #F1F1F1;
  padding: 8px;
  font-size: 12px;
}

#bottom-panel.full {
  position: static;
  background-color: inherit;
  height: 90%;
}

#bottom-panel.full > div {
  padding-bottom: 40px;
}
#bottom-panel.full .tabs {
  display: none;
}

#bottom-panel.full .message-info {
  position: static;
}

#bottom-panel.full .message-info .content {
  display: block;
  position: static;
}

#bottom-panel.full .save, #bottom-panel.full .share {
  bottom: 10px;
}

#bottom-panel.full button.delete {
  display: none;
}

#bottom-panel.full .message-actions {
  position: fixed;
  height: 40px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #eee;
  border-top: 1px solid #dfdfdf;
  padding-left: 10px;
}

#bottom-panel.full .message-actions button {
  margin-top: 10px;
}



.message-actions {
    position: absolute;
    bottom: 3px;
    right: 30px;
}

.message-actions button {
  margin-right: 7px;
}

.message-actions .share {
  text-decoration: none;
  color: #333;
}

.divider {
  position: fixed;
  bottom: 310px;
  left: 0;
  right: 0;
  height: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
  cursor: row-resize;
  z-index: 1;
}

.divider div {
  margin: auto;
  width: 24px;
  height: 1px;
  background-color: #ccc;
  position: relative;
}

.divider .line-1 {
  top: 3px;
}

.divider .line-2 {
  top: 4px;
}

.divider .line-3 {
  top: 5px;
}

#top-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 320px;
  overflow: auto;
}

.message-info {
  position: absolute;
  border-bottom: 1px solid #DDD;
  bottom: 35px;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.action-panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 30px;
  font-weight: bold;
}
.action-panel input {
  position: relative;
  top: -1px;
  margin-left: 20px;
  vertical-align: sub;
}

.action-panel .clear {
  position: absolute;
  right: 30px;
  vertical-align: middle;
}

#log-table {
  border-collapse:collapse;
  margin: auto;
  width: 99%;
  table-layout: fixed;
}


.hidden {
  display: none;
}

.message-info pre {
  position: relative;
  margin: 10px;
}

#overlay {
  position: fixed;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: row-resize;
  opacity: 0;
}

.message-info .content {
  position: absolute;
  top: 5px;
  bottom: 35px;
  left: 5px;
  right: 5px;
  overflow: auto;
  display: none;
}

.message-info .content.active {
  display: block;
}


.tabs {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  list-style-type: none;
  border-top: 1px solid #ddd;
  margin: 0 0 5px;
  padding: 0 0 0 14px;
}
.tabs li {
  float: left;
  position: relative;
  padding-right: 5px;
  margin: 0;
}
.tabs a {
  position: relative;
  top: 4px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ddd;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px;
  background-color: #e1e1e1;
}

.tabs a.active{
  border-top: 1px solid #f1f1f1;
  background-color: #f1f1f1;
}


.btn {
  display: inline-block;
  margin: 0;
  padding: 2px 12px;
  font-weight: 500;
  font-size: 1em;
  line-height: 18px;
  text-align: center;
  cursor: pointer;
  transition: all .25s;
  background-color: #DDD;
  text-decoration: none;
  border: none;
  color: #333;
  font-weight: normal;
}

.btn:hover {
  color: #000;
  background-color: #ccc;
}

.btn .fa {
  margin-right: 7px;
}

.btn:active {
  text-shadow: none;
}

.btn.danger:hover {
  background-color: #c63c1b;
  color: #EEE;
}
