body {
  font-family: Arial, 'Liberation Sans', 'DejaVu Sans', sans-serif;
  font-size: 12px;
}

table {
  border-collapse:collapse;
  margin: auto;
  width: 98%;
  table-layout: fixed;
}

tbody tr {
  width: 98%;
}

tbody tr td {
  border-top: 1px #ddd solid;
  line-height: 25px;
}

tbody tr.message-row:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

th {
  text-align:left;
  padding-right: 10px;
  font-size: 12px;
  color: #222;
  padding-bottom: 8px;
}

td.time {
  font-size: 12px;
  color: #999;
  vertical-align: top;
}
.message {
  font-family: Consolas, mono;
  font-size: 13px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th.severity{
  width: 30px;
}

th.time{
  width: 100px;
}

.fatal{
  color: #E00;
}

.error {
  color: #9F6000;
}

.warn{
  color: #66000C;
}

.debug{
  color: #777;
}



tr.show-more {
  text-align: center;
  height: 30px;
  text-decoration: none;
  background-color: #ddd;
  cursor: pointer;
  font-size: 12px;
}



.action-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 100%;
  height: 30px;
  width: 100%;
  background-color: #F1F1F1;
  padding: 8px 0px 0 0;
  font-size: 12px;
  font-weight: bold;
}

.action-panel input {
  position: relative;
  top: 2px;
  margin-left: 20px;
}

.log-table {
  margin-bottom: 60px;
}

.hidden {
  display: none;
}
