{{~#each lines as |line|~}}
  <div class="backtrace-line">
    {{~line.line~}}
    {{~#if line.url~}}
      <a href="{{line.url}}" target="_blank" class="line-link">{{fa-icon "external-link-square-alt"}}</a>
    {{~/if~}}
  </div>
{{~/each~}}
