<div class="count">
  {{#if model.showCount}}
    {{model.count}}
  {{/if}}
</div>
<div class="severity">{{{model.glyph}}}</div>
<div class="message-body">
  {{model.displayMessage}}
</div>
<div class='protected'>
  {{#if model.protected}}
    <i title="message is protected, clearing will not remove it" class='fa fa-lock'></i>
  {{/if}}
</div>
<div class="time">{{time-formatter timestamp=model.timestamp}}</div>
