{
  "extends": "eslint-config-discourse",
  "rules": {
    // Temporarily disable some newer rules
    "ember/no-classic-components": "off",
    "ember/no-component-lifecycle-hooks": "off",
    "ember/no-get": "error",
    "ember/require-tagless-components": "off"
  }
}
