<div class="settings-page">
  {{link-to "Home" "index"}}
  <div class="settings-header">
    <h1 class="header-title">Settings</h1>
    <img class="header-logo" src={{logster-url "images/icon_144x144.png"}}>
  </div>

  <div class="settings-section suppression-patterns">
    <h2 class="section-title">Suppression Patterns</h2>
    <div>New messages that match these Regular Expression patterns will be suppressed.</div>

    {{#if showCodedSuppression}}
      <h3 class="subsection-title">Hard-coded patterns:</h3>
      <div class="tip">These patterns can't be removed via the UI because they are commited to the source code of your app.</div>
      {{patterns-list
        patterns=codedSuppression
        mutable=false}}
    {{/if}}

    <h3 class="subsection-title">Custom patterns:</h3>
    {{patterns-list
      patterns=customSuppression
      key="suppression"
      applyRetroactivelyCheckbox=true
      mutable=true}}
  </div>
</div>
