<LinkTo @route="index" class="recent-link">Recent</LinkTo>

<div id="bottom-panel" class="full">
  <MessageInfo
    @currentMessage={{this.model}}
    @showTitle="true"
    @envChangedAction={{action "envChanged"}}
    @currentEnvPosition={{this.envPosition}}
    @actionsInMenu={{false}}
  />
</div>
